.my-Profile-page {
  padding: 30px;
}

.page-header {
  display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2563eb;
    color: white;
    padding: 18px 40px;
    margin: -20px -20px 10px -10px;
    height: 80px;
    border: none;
}

.page-header button {
    background-color: #2563eb;
    color: white;
    border: none;
    width: 80px;
    padding: 6px 20px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
}

.back-btn {
  background: rgb(30, 30, 246);
    color: white;
    width: 80px;
    padding: 6px 20px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}


.back-btn:hover {
  background-color: #084298;
}

.profile-card textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  resize: none;        /* optional - prevents resizing */
  height: 45px;        /* makes height same as input */
  box-sizing: border-box;
}











