.auth-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #0f62fe, #2bb673);
}

.auth-card {
  background: #ffffff;
  padding: 35px;
  width: 360px;
  border-radius: 14px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.auth-card h2 {
  margin-bottom: 25px;
}

.auth-form {
  display: flex;
  flex-direction: column;   /* 🔥 THIS IS THE KEY */
  gap: 15px;
}

.auth-form select,
.auth-form input {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.auth-form button {
  padding: 12px;
  background: #0f62fe;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.auth-form button:hover {
  background: #084cdf;
}

.switch-text {
  margin-top: 18px;
  font-size: 14px;
}

.switch-text span {
  color: #0f62fe;
  cursor: pointer;
  font-weight: bold;
}



















































